#logotipo a {animation: colorAnimate 10s;}/*linear infinite*/
header #subheader nav ul li a {animation: colorAnimate 10s;}/*linear infinite*/

 @keyframes colorAnimate
 {
     0%
     {
         color: #c30000;
     }
     25%
     {
         color: #1c547d;
     }
     50%
     {
         color: #c00a504;
     }
     75%
     {
         color: #ce7b900;
     }
     100%
     {
         color: #c30000;
     }
 }



